[submodule ".submodules/dmenu"]
	path = .submodules/dmenu
	url = https://github.com/fbuchlak/dmenu
	branch = main
[submodule ".submodules/dwm"]
	path = .submodules/dwm
	url = https://github.com/fbuchlak/dwm
	branch = main
[submodule ".submodules/dwmblocks-async"]
	path = .submodules/dwmblocks-async
	url = https://github.com/fbuchlak/dwmblocks-async
	branch = main
[submodule ".submodules/slock"]
	path = .submodules/slock
	url = https://github.com/fbuchlak/slock
	branch = main
[submodule ".submodules/st"]
	path = .submodules/st
	url = https://github.com/fbuchlak/st
	branch = main
[submodule ".local/share/statusbar-blocks"]
	path = .local/bin/statusbar-blocks
	url = https://github.com/fbuchlak/statusbar-blocks
	branch = main
[submodule ".submodules/tabbed"]
	path = .submodules/tabbed
	url = https://github.com/fbuchlak/tabbed.git
	branch = main
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".local/bin/xdg-ninja"]
	path = .local/bin/xdg-ninja
	url = https://github.com/b3nj5m1n/xdg-ninja
[submodule ".submodules/armcord"]
	path = .submodules/armcord
	url = https://github.com/ArmCord/ArmCord
